@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Message"]</h2>

<address>
    <abbr title="Phone">Phone:</abbr>
    (43) 9 9991-3151
</address>

<address>
    <strong>Support:</strong> <a href="mailto:israel.int@gmail.com">israel.int@gmail.com</a><br />
</address>
