@{
    ViewData["Title"] = "Home Page";
}

<h2>Obrigado pela oportunidade.</h2>
<a asp-area="" asp-controller="Home" asp-action="Card"><button type="button" class="btn btn-default">Clique aqui para testar</button></a>
